//===== Request Parts
|===
|파트명|타입|설명|필수값

{{#requestParts}}

|{{#tableCellContent}}{{name}}{{/tableCellContent}}
|{{#tableCellContent}}{{type}}{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{^optional}}true{{/optional}}{{/tableCellContent}}

{{/requestParts}}

|===